<% event_date = I18n.l(
   Time.new(
      data.event.date.year, 
      data.event.date.month, 
      data.event.date.day
   ), 
   format: :long) 
%>


<div id="footer">
   <div class="footer-content">
      <div class="about">
         <h3><%= data.event.edition %>ª Festa Junina Beneficente da Igreja Católica</h3>
         <div class="icons grid">
            <div class="icon area-1">
               <i class="fa-solid fa-calendar fa-lg"></i>
               <p><%= event_date %></p>
            </div>
         <div class="icon area-2">
               <i class="fa-solid fa-clock fa-lg"></i>
               <p>Missa às 10:00</p>
         </div>
            <div class="icon area-3">
               <i class="fa-solid fa-location-dot fa-lg"></i>
               <p><%= data.event.venue %></p>
         </div>
         </div>
      </div>

      <div class="links">
         <ul class="lists">
            <% data.links.each do |link| %>
               <li>
                  <%= link_to link.name, link.href, class: 'page-links' %>
               </li>
            <% end %>
         </ul>

         

         <div class="contact-info">
            <h3>Informações de Contato</h3>
            <div  class="contact-grid">
              <% data.contacts.each do |contact| %>
               <a href="<%= contact.contact %>" target="_blank" rel="noopener" class="contact-link <%= contact.area %>">
                     <i class="<%= contact.icon %>"></i>
                     <p class="contact-name"><%= contact.name%></p>
                  </a>
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <sub>© All rights reserved</sub>
</div>